.container {
  background-color: red;
  display: flex;
  flex-flow: row wrap;
  border: solid 4px black;
  width: 60%;
  height: 30em;
  justify-content: flex-start;
  gap: 10px;
}

.item {
  background-color: green;
  border: solid 2px black;
  flex: 1 1 auto;
}
