.txt-bold {
  font-weight: bold;
}

:root {
  font-size: 16px;
}
body {
 margin: -0.5rem;
 padding: 0;
}

.navbar {
  display: flex;
  background-color: aquamarine;
  font-size: 2rem;
  flex-flow: row nowrap;
}

.logo-header {
  display: flex;
  flex-flow: row wrap;
  align-self: center; 
  gap: 1rem;
  flex: 1 8 auto;
}

.logo{
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.nav-container {
  display: flex;
  /* margin-left: auto; */
  gap: 2rem;
  flex: 8 1 auto;
  justify-content: flex-end;
}

.main-nav{
  display: flex;
  list-style: none;
  gap: 2rem;
  flex-flow: row wrap;
  font-size: max(0.75rem, 0.8em);
}

.nav-child {
  flex-flow: column;
  gap:1em;
  padding-top: 1em;
}

.nav-link{
  text-decoration: none;
}

.nav-link:hover {
  background-color: red;
}

.hidden {
  display: none;
}


@media(max-width: 500px) {
   :root{
    font-size: 8px;
   }

  .navbar{
    flex-flow: column wrap;
  } 
   
  .nav-container{
    justify-content: flex-start;
  }

  .main-nav{
    flex-flow: column wrap;
  }

    .nav-child {
      flex-flow: row wrap;
    }
}

@media(min-width: 1600px) {
  .nav-child{
    flex-flow: row nowrap;
  }
}