.txt-bold {
  font-weight: bold;
}


body {
 margin: 0;
 padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
  font-size: 20px;
  align-items: center;
}

.logo-header {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: auto; 
}

.logo{
  color: red;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  flex: 9 1;
  flex-basis: auto;
}

.main-nav{
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 15px;
}

.nav-child {
  flex-flow: column;
}

.nav-link{
  text-decoration: none;
}

.nav-link:hover {
  background-color: red;
}

